<a href="http://www.vidal.ru/unsubscribe-digest/{{ user.id }}/{{ user.created }}">этой ссылке</a>.

<img
	src="http://www.google-analytics.com/collect?v=1&tid=UA-45285788-1&cid={{ user.id }}&t=event&ec=delivery-4&ea=open&el=recipient_id&cs=newsletter&cm=email&cn=delivery_remedis"/>

{#<img src="http://vitaportal.ru/slimsmile/nu_tracker_2/dietplaner_welcome/KXH9DFKDiymclOZxTLODXb8Mv56abFUCmIXffYRjnpCyxwMcpBq-xB-wqtbwxzS0rdz0gZLyq0m0xNPvsccsWg"/>#}
<img src="http://www.vidal.ru/delivery/opened/{{ delivery.name }}/{{ user.id }}"/>

</td>
</tr>
</table>

</body>
</html>