<!DOCTYPE html>
{% set isAdmin = app.user and is_granted('ROLE_ADMIN') %}
{% set route = app.request.get('_route') %}
<html lang="ru">
<head>
	<meta charset="UTF-8"/>
	<link rel="canonical" href="{{ app.request.uri }}"/>
	<link rel="shortcut icon" href="{{ asset('favicon.ico') }}?v=2"/>

	{% block meta %}
		<title>{% spaceless %}
				{% if seotitle is defined and seotitle is not null %}
					{{ seotitle }}
				{% else %}
					{{ title is defined and title is not null ? title ~ ' | ' }}Vidal.ru - cправочник лекарственных препаратов
				{% endif %}
			{% endspaceless %}</title>
		<meta name="description" content="{% spaceless %}
				{% if description is defined and description is not null %}
					{{ description }}
				{% else %}
					{{ title is defined ? title ~ '. ' }}Справочник лекарственных препаратов, содержащий подробные описания и инструкции по применению лекарственных средств. Так же, на сайте: медицинская энциклопедия с описанием болезней, новости медицины и фармацевтики, взаимодействие лекарств и исследования их эффективности.
				{% endif %}
			{% endspaceless %}"/>
		<meta name="keywords" content="{% spaceless %}
				{% if keywords is defined %}
					{{ keywords }}
				{% else %}
					{{ title is defined ? title ~ ' ' }}Справочник лекарственных препаратов, средств, лекарства, описания, инструкции, применение, медицина, болезни, энциклопедия, врачи, новости, лечение, Видаль
				{% endif %}
			{% endspaceless %}"/>

		{% if route not in ['product','article', 'art','publication'] %}
			<meta property="og:image" content="http://www.vidal.ru/bundles/vidalmain/images/share/vidal.jpg"/>
			{% if title is defined and title is not null %}
				<meta property="og:title" content="{{ title }}"/>
			{% endif %}
			{% if route == 'index' %}
				<meta property="og:description"
					  content="Справочник лекарственных средств, содержащий подробные описания и инструкции по применению препаратов. Также на сайте: материалы для специалистов, включая данные клинических исследований и алгоритмы ведения пациентов, медицинская энциклопедия с описанием болезней, новости медицины и фармации."/>
			{% elseif description is defined and description is not null %}
				<meta property="og:description" content="{{ description }}"/>
			{% endif %}
		{% endif %}
	{% endblock %}
	{% block stylesheets %}
		<link rel="stylesheet" type="text/css" href="{{ asset('bundles/vidalmain/stylesheets/common.min.css') }}"/>
		<link rel="stylesheet" type="text/css" href="{{ asset('bundles/vidalmain/jquery-chosen/chosen.min.css') }}"/>
		<link rel="stylesheet" type="text/css" href="{{ asset('bundles/vidalmain/checkbox/checkbox.css') }}"/>
		<link rel="stylesheet" type="text/css"
			  href="{{ asset('bundles/vidalmain/jquery-ui/jquery-ui-1.10.4.custom.min.css') }}"/>
		<!--[if lt IE 9]>
		<link rel="stylesheet" type="text/css" href="{{ asset('bundles/vidalmain/stylesheets/old_ie.css') }}"/>
		<![endif]-->

		<link rel="stylesheet" type="text/css" href="{{ asset('bundles/vidalmain/stylesheets/base500.css') }}"/>
		<link rel="stylesheet" type="text/css" href="{{ asset('bundles/vidalmain/stylesheets/base750.css') }}"/>
		<link rel="stylesheet" type="text/css" href="{{ asset('bundles/vidalmain/stylesheets/base1000.css') }}"/>
		{% if ("now"|date('N') == 2) or ("now"|date('N') == 5) %}
			<style>
				@media only screen and (max-device-width: 480px) {
					.avgrund-popup {
						position:          absolute;
						width:             100%;
						height:            initial;
						left:              0%;
						top:               50%;
						margin:            -130px 0 0 0px;
						visibility:        hidden;
						opacity:           0;
						z-index:           2;
						padding:           10px;
						background:        white;
						box-shadow:        0px 0px 20px rgba(0, 0, 0, 0.6);
						border-radius:     3px;
						-webkit-transform: scale(0.8);
						-moz-transform:    scale(0.8);
						-ms-transform:     scale(0.8);
						-o-transform:      scale(0.8);
						transform:         scale(0.8) !important;
					}
				}
				.socialText li {
					font-size:   15px;
					font-weight: bold;
					margin-left: 45px;
				}
				.closeButtonXBanner {
					text-decoration: none;
					font-size:       35px;
					font-family:     cursive;
					position:        absolute;
					top:             -8px;
					right:           8px;
				}
			</style>
		{% endif %}
		<style type="text/css">
			.mobile_social img {
				border-radius: 2px;
			}
			.centerBannerVia {
				text-align: center;
			}
		</style>
	{% endblock %}
	<style>
		body {
			margin: 0
		}
		iframe {
			margin: 0
		}
	</style>
	<script>
		var trackOutboundLink = function(url) {
			ga('send', 'event', 'outbound_banner', 'click', url, {
				'hitCallback': function() {
					window.open(url, '_blank');
				}
			});
		}
	</script>

	<script type="text/javascript" src="{{ asset('bundles/vidalmain/javascripts/jquery-1.11.0.min.js') }}"></script>
</head>

<body>
<div id="wrapper" class="wrapper" style="position: relative;">
	{% if noYad is not defined %}
		{#{{ render(controller('VidalMainBundle:Banner:render', {'groupId':2})) }}#}
		{% if app.request.get('a') == 'a' and not app.user %}
			{% include 'VidalMainBundle:Banners:hofitol.html.twig' %}
		{% endif %}
	{% endif %}

	{#<div id="banner_mobile" style="margin-bottom:20px;display:none;  text-align: center;">#}
	{#<a href="#" onclick="trackOutboundLink('http://chophytol.ru'); return false;">#}
	{#<img src="/300x150-hofitol.gif" style="max-width:100%;" alt="paraplus" />#}
	{#</a>#}
	{#</div>#}

	<div class="mobile_menu">

		<div class="mobile_menu_auth"></div>
		<div class="mobile_menu_search">
			<div class="mobile_menu_search_overlay"></div>
			<form id="search_form_top" class="search" method="get" action="{{ path('search') }}">
				<input type="hidden" name="search-type" value="{{ app.request.get('t')|default('all') }}">
				<input type="submit" value="" class="search-submit">
				<input class="search-query ui-autocomplete-input" type="text" name="q" autocomplete="off"
					   placeholder="Арбидол, Байер, грипп..."
					   value="{{ app.request.attributes.get('_route') == 'search' ? app.request.get('q') }}">
			</form>
		</div>

		<div class="mobile_menu_icon"></div>

		<div class="mobile_menu_hidden">
			<div class="mobile_menu_overlay"></div>
			<div class="mobile_menu_close"></div>
			<div class="mobile_menu_wrap"></div>
		</div>

		<div class="mobile_search_hidden">
			<div class="mobile_search_overlay"></div>
			<div class="mobile_search_close"></div>
			<div class="mobile_search_wrap"></div>
		</div>

		<div class="mobile_auth_hidden">
			<div class="mobile_auth_overlay"></div>
			<div class="mobile_auth_close"></div>
			<div class="mobile_auth_wrap"></div>
		</div>
		<div style="text-align: center;margin-top:20px;" class="mobile_social">
			<a target="_blank" href="https://www.facebook.com/vidalru"><img class="tada animated"
																			src="{{ asset('bundles/vidalmain/images/social/facebook_big.png') }}"
																			style="width: 30px;" alt="facebook"/></a>
			<a target="_blank" href="https://vk.com/vidalru"><img class="tada animated"
																  src="{{ asset('bundles/vidalmain/images/social/vk_big.png') }}"
																  style="width: 30px;" alt="vkontakte"/></a>
			<a target="_blank" href="http://vidalru.livejournal.com/"><img class="tada animated"
																		   src="{{ asset('bundles/vidalmain/images/social/livejournal_big.png') }}"
																		   style="width: 30px;" alt="livejournal"/></a>
			<a target="_blank" href="https://google.com/+VidalRu"><img class="tada animated"
																	   src="{{ asset('bundles/vidalmain/images/social/gplus_big.png') }}"
																	   style="width: 30px;" alt="googleplus"/></a>
			<a target="_blank" href="http://twitter.com/Vidalru"><img class="tada animated"
																	  src="{{ asset('bundles/vidalmain/images/social/twitter_big.png') }}"
																	  style="width: 30px;" alt="twitter"/></a>
			<a target="_blank" href="http://vidalru.blogspot.ru/"><img class="tada animated"
																	   src="{{ asset('bundles/vidalmain/images/social/blogspot_big.png') }}"
																	   style="width: 30px;" alt="blogspot"/></a>
			<a target="_blank" href="https://www.linkedin.com/company/vidal-ru/"><img class="tada animated"
																					  src="{{ asset('bundles/vidalmain/images/social/linkedin_big.png') }}"
																					  style="width: 30px;"
																					  alt="linkedin"/></a>
		</div>
	</div>

	<div class="header">
		{% include 'VidalMainBundle::header.html.twig' %}
	</div>

	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/vidalmain/stylesheets/banner_top.css') }}"
		  property="stylesheet"/>

	{% block middle %}
		<table class="middle">
			<tr>
				<td class="left-sidebar">
					{% include 'VidalMainBundle::left_sidebar.html.twig' %}
				</td>
				<td class="main">
					{% block main %}
						{% block menu %}
							{% include 'VidalMainBundle::menu_small.html.twig' %}
						{% endblock %}
						{% block nav %}{% endblock %}
						{% block title %}{% endblock %}
						<div class="content">
							{% block content %}{% endblock %}
						</div>
					{% endblock %}
				</td>
				<td class="right-sidebar">
					{% if app.request.get('a') == 'a' and app.user %}
						{% include 'VidalMainBundle:Banners:avemed.html.twig' %}
					{% endif %}

					{% if app.user %}
						<div class="centerBannerVia">
							<a href="http://univadis.evrika.ru/?utm_source=media&utm_medium=vidal_ru&utm_content=200x200&utm_campaign=univadis_vidal"><img
									src="/univadis_banner.gif"/></a>
						</div>
						<br/>
					{% else %}
						<div class="banner-neiro" style="position:relative;width:200px;height:400px;margin-left: 21px;">
							<a href="http://www.vidal.ru/neiro_doz">
								<div style="position: absolute;width:200px;height:400px;"></div>
							</a>
							<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" width="200" height="400"
									id="vidal_neyrodoz_200x400per" align="middle">
								<param name="movie" value="/neyrodoz/vidal_neyrodoz_200x400per.swf"/>
								<param name="quality" value="high"/>
								<param name="bgcolor" value="#cccccc"/>
								<param name="play" value="true"/>
								<param name="loop" value="true"/>
								<param name="wmode" value="window"/>
								<param name="scale" value="showall"/>
								<param name="menu" value="true"/>
								<param name="devicefont" value="false"/>
								<param name="salign" value=""/>
								<param name="allowScriptAccess" value="sameDomain"/>
								<!--[if !IE]>-->
								<object type="application/x-shockwave-flash"
										data="/neyrodoz/vidal_neyrodoz_200x400per.swf" width="200" height="400">
									<param name="movie" value="/neyrodoz/vidal_neyrodoz_200x400per.swf"/>
									<param name="quality" value="high"/>
									<param name="bgcolor" value="#cccccc"/>
									<param name="play" value="true"/>
									<param name="loop" value="true"/>
									<param name="wmode" value="window"/>
									<param name="scale" value="showall"/>
									<param name="menu" value="true"/>
									<param name="devicefont" value="false"/>
									<param name="salign" value=""/>
									<param name="allowScriptAccess" value="sameDomain"/>
									<!--<![endif]-->
									<a href="http://www.adobe.com/go/getflash">
										<img
											src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif"
											alt="Get Adobe Flash player"/>
									</a>
									<!--[if !IE]>-->
								</object>
								<!--<![endif]-->
							</object>
						</div>
					{% endif %}

					{% if app.request.get('a') == 'a' and not app.user %}
						{% include 'VidalMainBundle:Banners:hofitol_mobile.html.twig' %}
					{% endif %}

					{% block right %}
						{% include 'VidalMainBundle::right_sidebar.html.twig' %}
					{% endblock %}
				</td>
			</tr>
		</table>
	{% endblock %}

	{#{{ render(controller('VidalMainBundle:Index:firstSet')) }}#}

	{% block footer %}
		<div class="footer">
			{% include 'VidalMainBundle::footer.html.twig' %}
		</div>
	{% endblock %}
</div>

<div id="overlay"></div>

<a id="top-link" href="#">
	<img src="{{ asset('bundles/vidalmain/images/icon_top.png') }}" alt="go to top"/>
</a>

{#{% include 'VidalMainBundle::popupunder.html.twig' %}#}

{# счетчики аналитики #}
{#{% if app.environment == 'prod' %}#}

{% include 'VidalMainBundle:Metrika:google_analytics.html.twig' %}
{% include 'VidalMainBundle:Metrika:live_internet.html.twig' %}
{% include 'VidalMainBundle:Metrika:tns.html.twig' %}
{% include 'VidalMainBundle:Metrika:yandex_metrika.html.twig' %}
{% include 'VidalMainBundle:Metrika:mail_metrika.html.twig' %}
{#{% endif %}#}
{% block javascripts %}
	<script type="text/javascript">
		function detectmob() {
			if ((navigator.userAgent.match(/Android/i)
				|| navigator.userAgent.match(/webOS/i)
				|| navigator.userAgent.match(/iPhone/i)
				|| navigator.userAgent.match(/iPad/i)
				|| navigator.userAgent.match(/iPod/i)
				|| navigator.userAgent.match(/BlackBerry/i)
				|| navigator.userAgent.match(/Windows Phone/i))

				&& window.screen.width < 768
			) {
				return true;
			}
			else {
				return false;
			}
		}
		var $mobile = detectmob();
		var $tablet = false;

		if (window.screen.width < 768 && $mobile) {
			document.write('<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">');
		} else if (window.screen.width >= 768 && window.screen.width < 1008) {
			document.write('<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">');
			$tablet = true;
		} else {
			document.write('<meta id="viewport" name="viewport" content="width=1008">');
		}
	</script>
	<script type="text/javascript" src="{{ asset('bundles/vidalmain/javascripts/coockie.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/vidalmain/checkbox/jquery.checkbox.js') }}"></script>
	<script type="text/javascript"
			src="{{ asset('bundles/vidalmain/jquery-chosen/chosen.jquery.min.js') }}"></script>
	<script type="text/javascript"
			src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
	<script type="text/javascript"
			src="{{ asset('bundles/vidalmain/jquery-ui/jquery-ui-1.10.4.custom.min.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/vidalmain/javascripts/swfobject2.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/vidalmain/javascripts/ready.min.js') }}"></script>

	{#<script>#}
	{#$(function() {#}
	{#var#}
	{#iframe = document.getElementsByTagName('iframe')[0];#}

	{#function restyle() {#}
	{#var body = iframe.contentDocument.body;#}
	{#body.style.padding = 0;#}
	{#body.style.margin = 0;#}
	{#}#}

	{#iframe.onload = restyle;#}
	{#restyle();#}

	{#var isMobile = false; //initiate as false#}
	{#// device detection#}
	{#if(/(android|bb\d+|meego).+mobile|avantgo|bada\/|blackberry|blazer|compal|elaine|fennec|hiptop|iemobile|ip(hone|od)|ipad|iris|kindle|Android|Silk|lge |maemo|midp|mmp|netfront|opera m(ob|in)i|palm( os)?|phone|p(ixi|re)\/|plucker|pocket|psp|series(4|6)0|symbian|treo|up\.(browser|link)|vodafone|wap|windows (ce|phone)|xda|xiino/i.test(navigator.userAgent)#}
	{#|| /1207|6310|6590|3gso|4thp|50[1-6]i|770s|802s|a wa|abac|ac(er|oo|s\-)|ai(ko|rn)|al(av|ca|co)|amoi|an(ex|ny|yw)|aptu|ar(ch|go)|as(te|us)|attw|au(di|\-m|r |s )|avan|be(ck|ll|nq)|bi(lb|rd)|bl(ac|az)|br(e|v)w|bumb|bw\-(n|u)|c55\/|capi|ccwa|cdm\-|cell|chtm|cldc|cmd\-|co(mp|nd)|craw|da(it|ll|ng)|dbte|dc\-s|devi|dica|dmob|do(c|p)o|ds(12|\-d)|el(49|ai)|em(l2|ul)|er(ic|k0)|esl8|ez([4-7]0|os|wa|ze)|fetc|fly(\-|_)|g1 u|g560|gene|gf\-5|g\-mo|go(\.w|od)|gr(ad|un)|haie|hcit|hd\-(m|p|t)|hei\-|hi(pt|ta)|hp( i|ip)|hs\-c|ht(c(\-| |_|a|g|p|s|t)|tp)|hu(aw|tc)|i\-(20|go|ma)|i230|iac( |\-|\/)|ibro|idea|ig01|ikom|im1k|inno|ipaq|iris|ja(t|v)a|jbro|jemu|jigs|kddi|keji|kgt( |\/)|klon|kpt |kwc\-|kyo(c|k)|le(no|xi)|lg( g|\/(k|l|u)|50|54|\-[a-w])|libw|lynx|m1\-w|m3ga|m50\/|ma(te|ui|xo)|mc(01|21|ca)|m\-cr|me(rc|ri)|mi(o8|oa|ts)|mmef|mo(01|02|bi|de|do|t(\-| |o|v)|zz)|mt(50|p1|v )|mwbp|mywa|n10[0-2]|n20[2-3]|n30(0|2)|n50(0|2|5)|n7(0(0|1)|10)|ne((c|m)\-|on|tf|wf|wg|wt)|nok(6|i)|nzph|o2im|op(ti|wv)|oran|owg1|p800|pan(a|d|t)|pdxg|pg(13|\-([1-8]|c))|phil|pire|pl(ay|uc)|pn\-2|po(ck|rt|se)|prox|psio|pt\-g|qa\-a|qc(07|12|21|32|60|\-[2-7]|i\-)|qtek|r380|r600|raks|rim9|ro(ve|zo)|s55\/|sa(ge|ma|mm|ms|ny|va)|sc(01|h\-|oo|p\-)|sdk\/|se(c(\-|0|1)|47|mc|nd|ri)|sgh\-|shar|sie(\-|m)|sk\-0|sl(45|id)|sm(al|ar|b3|it|t5)|so(ft|ny)|sp(01|h\-|v\-|v )|sy(01|mb)|t2(18|50)|t6(00|10|18)|ta(gt|lk)|tcl\-|tdg\-|tel(i|m)|tim\-|t\-mo|to(pl|sh)|ts(70|m\-|m3|m5)|tx\-9|up(\.b|g1|si)|utst|v400|v750|veri|vi(rg|te)|vk(40|5[0-3]|\-v)|vm40|voda|vulc|vx(52|53|60|61|70|80|81|83|85|98)|w3c(\-| )|webc|whit|wi(g |nc|nw)|wmlb|wonu|x700|yas\-|your|zeto|zte\-/i.test(navigator.userAgent.substr(0,4))) isMobile = true;#}

	{#if(isMobile) {#}
	{#$("#banner").css('display','none');#}
	{#$("#banner_mobile").css('display','block');#}
	{#}#}
	{#});#}
	{#</script>#}
{% endblock %}
</body>
</html>